/**** Setup snippet ****/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201c \201d \2018 \2019;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
html input[type=button],
/* 1 */
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
figure {
  margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**** Strip base styles ****/

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

/**** Global styles ****/

/**** colors
white: #ffffff
very-light-grey: #e3e3e3
grey: #acacac
black: #000000
blue: #183399
****/

/**** Fonts
font-family: 'Cormorant Garamond', serif;
 font-family: 'Roboto', sans-serif;
 font-family: 'Catamaran', sans-serif;
****/

html {
  font-size: 125%;
  /*
    62.5% = units of 10px
    125% = units of 20px
     */
}

h1,
h2,
a {
  font-family: 'Cormorant Garamond', serif;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

h2 {
  color: #000000;
}

p {
  color: #1f2022;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
}

p,
.button,
.footerNav a,
.stayUpdated input[type='text'],
.stayUpdated input[type='submit'] {
  line-height: 1.45rem;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.imgContainer {
  overflow: hidden;
  min-height: 184px;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

.button {
  color: #ffffff;
  margin-top: 40px;
  border: 1px solid transparent;
  background-color: #183399;
  padding: 23px 18px;
  display: inline-block;
}

.button:hover {
  color: #183399;
  background-color: #ffffff;
  border: 1px solid #183399;
}

.buttonWrap {
  text-align: center;
}

.headerNav a:hover,
.socials a:hover,
.eventComBrand a:hover {
  color: #183399;
}

/**** Header ****/

header {
  min-height: 600px;
  background: url(../assets/hero.png);
  background-size: cover;
  background-position: center center;
  padding: 1px;
}

h1 {
  font-size: 4.1rem;
  font-style: italic;
  color: #ffffff;
  line-height: 2.5rem;
}

.magazine {
  font-size: 2.35rem;
  font-weight: 500;
  font-style: normal;
}

.logoWrap {
  margin-top: 201px;
  clear: both;
}

.logo,
.headerNav,
.socials {
  display: none;
}

nav img {
  float: right;
  margin-top: 20px;
}

/**** News Articles ****/

.newsArticles {
  margin-top: 40px;
}

.newsArticles h2 {
  font-size: 1.75rem;
  margin-bottom: 40px;
}

.newsArticles .imgContainer {
  margin-bottom: 50px;
}

.newsArticles .imgContainer:last-of-type {
  display: none;
}

/**** This Weeks Highlight ****/

.weeksHighlight {
  margin-bottom: 50px;
}

.weeksHighlight h2 {
  font-size: 1.65rem;
  margin: 0 auto 30px;
}

.weeksHighlight .imgContainer {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
}

/**** Full bleed section ****/

.fullBleed h2 {
  font-size: 1.1rem;
  margin: 50px auto 30px;
}

.fullBleed p {
  text-align: center;
}

.fullBleed .button {
  margin: 30px 0 50px;
}

/**** Events Community Brands ****/

.eventComBrand {
  background: url(../assets/eventComBrand.png);
  background-size: cover;
  background-position: center left;
  padding: 1px;
}

.eventComBrand h2 {
  font-size: 1.35rem;
}

.eventComBrand ul {
  text-align: center;
}

.eventComBrand ul li {
  margin: 50px 0;
}

.eventComBrand ul a {
  font-size: 1.35rem;
  color: #ffffff;
}

.eventComBrand ul i {
  font-size: 2.5rem;
  padding-bottom: 15px;
}

/**** footer ****/

footer {
  background-color: #e3e3e3;
  text-align: center;
  padding: 1px;
}

footer h2 {
  font-size: 1.25rem;
}

footer p {
  font-size: 0.7rem;
}

.stayUpdated {
  margin-top: 50px;
}

.stayUpdated h2 {
  margin-bottom: 30px;
}

.stayUpdated p {
  font-size: 0.8rem;
  margin-bottom: 11px;
}

.stayUpdated input[type='text'],
.stayUpdated input[type='submit'] {
  width: 100%;
  text-align: center;
  border: none;
  font-family: 'Catamaran', sans-serif;
  font-size: 0.9rem;
  padding: 10px 0;
}

.stayUpdated input[type='text']::placeholder {
  color: #1f2022;
}

.stayUpdated input[type='submit'] {
  margin: 10px 0 50px 0;
  background-color: #000000;
  color: #ffffff;
  text-transform: uppercase;
}

.contact h2 {
  margin-bottom: 16px;
}

.footerNav {
  margin: 40px 0 40px 0;
}

.footerNav a {
  font-family: 'Catamaran', sans-serif;
  font-size: 1rem;
  color: #000000;
}

.footerNav li {
  padding-bottom: 5px;
}

.footerNav a:hover {
  color: #183399;
  border-bottom: 2px solid #183399;
}

.copyright {
  clear: both;
  background-color: #acacac;
}

.copyright p {
  font-size: 0.7rem;
}

@media (min-width: 370px) {
  /**** header ****/
  h1 {
    font-size: 5.1rem;
  }

  .magazine {
    font-size: 3.35rem;
  }

  /**** News Articles ****/

  .newsArticles .imgContainer {
    width: calc(50% - 15px);
    float: left;
  }

  .newsArticles .imgContainer:nth-of-type(1) {
    margin: 0 15px 50px 0;
  }

  .newsArticles .imgContainer:nth-of-type(2) {
    margin: 0 0 50px 15px;
  }

  /**** Footer ****/

  .contact {
    width: 70%;
    float: left;
    margin-bottom: 50px;
  }

  .contact h2,
  .contact p {
    text-align: left;
  }

  .footerNav {
    width: 30%;
    float: left;
    margin: 0 0 50px 0;
  }

  .footerNav li {
    text-align: right;
  }
}

@media (min-width: 700px) {
  /**** Global styles ****/

  img {
    margin: 0 auto;
  }

  p {
    text-align: center;
  }

  .weeksHighlight .contentWrap,
  .fullBleed .container,
  footer .container {
    width: 80%;
    margin: 0 auto;
  }

  /**** News Articles****/

  .newsArticles .imgContainer {
    width: calc(33.33% - 20px);
    float: left;
  }

  .newsArticles .imgContainer:nth-of-type(1) {
    margin: 0 15px 50px 0;
  }

  .newsArticles .imgContainer:nth-of-type(2) {
    margin: 0 15px 50px 15px;
  }

  .newsArticles .imgContainer:nth-of-type(3) {
    margin: 0 0 50px 15px;
    display: block;
  }

  /**** Footer ****/

  .stayUpdated input {
    float: left;
  }

  .stayUpdated input[type='text'] {
    width: 70%;
  }

  .stayUpdated input[type='submit'] {
    width: 30%;
    margin: 0;
  }

  .stayUpdated {
    margin-bottom: 40px;
  }
}

@media (min-width: 900px) {
  /**** Global Styles ****/

  p {
    font-size: 1rem;
  }

  /**** Header ****/

  h1 {
    font-size: 11.35rem;
    line-height: 5rem;
  }

  .magazine {
    font-size: 7.5rem;
  }

  .logoWrap {
    margin-top: 170px;
  }

  /**** News Articles ****/

  .newsArticles {
    margin-top: 95px;
  }

  .newsArticles h2 {
    font-size: 2.45rem;
    margin-bottom: 95px;
  }

  /**** weeksHighlight ****/

  .weeksHighlight {
    margin-top: 50px;
  }

  .weeksHighlight h2 {
    font-size: 2.1rem;
  }

  /**** Full Bleed ****/

  .fullBleed h2 {
    font-size: 1.75rem;
  }

  /**** Footer ****/

  footer .container {
    width: 80%;
    margin: 0 auto;
  }

  footer h2 {
    font-size: 1.55rem;
  }

  .stayUpdated p,
  .contact p,
  .footerNav a {
    font-size: 1rem;
  }

  .stayUpdated {
    max-width: 1400px;
  }

  .stayUpdated form {
    margin: 0 auto;
    padding: 0 15%;
  }
}

@media (min-width: 1400px) {
  /**** Global Styles ****/

  .container {
    width: 85%;
  }

  .button {
    padding: 15px;
  }

  .weeksHighlight .contentWrap h2,
  .fullBleed .container h2,
  .weeksHighlight .contentWrap p,
  .fullBleed .container p,
  .buttonWrap {
    text-align: left;
  }

  /**** Header ****/

  header {
    min-height: 800px;
    position: relative;
  }

  .logoWrap {
    margin-top: 210px;
  }

  nav img {
    display: none;
  }

  header nav {
    margin: 15px 0 0 0;
  }

  .logo,
  .headerNav,
  .socials {
    display: inline-block;
  }

  .logo {
    text-align: left;
    font-size: 3.05rem;
    color: #ffffff;
    font-style: italic;
    line-height: 2rem;
    float: left;
  }

  .headerNav {
    float: right;
  }

  .headerNav li {
    float: left;
    margin-right: 30px;
  }

  .headerNav li:last-of-type {
    margin-right: 0;
  }

  .headerNav a {
    font-family: 'Catamaran', sans-serif;
    font-size: 0.9rem;
    color: #ffffff;
  }

  .socials {
    position: absolute;
    bottom: 40px;
    right: 50px;
  }

  .socials li {
    margin-bottom: 10px;
    text-align: center;
  }

  .socials a {
    color: #ffffff;
    font-size: 1.2rem;
  }

  /**** Weeks Highlights ****/

  .weeksHighlight .imgContainer {
    width: calc(30% - 20px);
    margin: 0 20px 0 0;
    float: left;
  }

  .weeksHighlight .imgContainer img {
    min-height: 364px;
  }

  .weeksHighlight .contentWrap {
    width: calc(70% - 20px);
    margin-left: 20px;
    float: left;
  }

  .weeksHighlight .contentWrap h2 {
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
  }

  /**** Full Bleed ****/

  .fullBleed {
    margin-top: 100px;
  }

  .fullBleed .container {
    width: 70%;
    padding-top: 50px;
  }

  .fullBleed1 .contentWrap,
  .fullBleed1 .imgContainer {
    width: 50%;
    float: right;
  }

  .fullBleed2 .contentWrap,
  .fullBleed2 .imgContainer {
    width: 50%;
    float: left;
  }

  .fullBleed1 {
    margin: 0;
  }

  /**** Events Community Brands  ****/

  .eventComBrand .container {
    width: 100%;
    min-height: 318px;
  }

  .eventComBrand ul {
    padding: 95px 0;
    margin: 0 auto;
    width: 1400px;
  }

  .eventComBrand ul a {
    font-size: 1.55rem;
    display: inline-block;
  }

  .eventComBrand ul li {
    float: right;
    width: 33.33%;
    margin: 0;
  }

  /**** Footer ****/

  footer .container {
    width: 85%;
  }

  .stayUpdated h2,
  .contact h2 {
    margin-bottom: 13px;
  }

  .stayUpdated {
    width: 50%;
    float: left;
  }

  .stayUpdated h2,
  .stayUpdated p {
    text-align: left;
  }

  .contact {
    width: 40%;
    padding-left: 70px;
  }

  .footerNav {
    width: 10%;
  }

  .stayUpdated,
  .contact,
  .footerNav {
    margin: 100px 0;
  }

  .stayUpdated form {
    padding: 0;
  }

  .stayUpdated input[type='text'] {
    text-align: left;
    padding-left: 30px;
    font-size: 1rem;
  }

  .copyright p {
    font-size: 0.9rem;
    padding: 10px;
  }
}
